<div class="">
  <%= form_with url: jewelries_path, method: :get, class: "d-flex my-3" do %>
    <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a Jewelry"
    %>
    <%= submit_tag "Search", class: "btn btn-dark" %>
  <% end %>
</div>
