// Specific CSS for your home-page
.home-banner .card {
  background-repeat: no-repeat;
  background-position: right -35% top;
  flex-grow: 1;
}

.home-banner {
  height: 80vh;
  width: 100%;
}
.home-banner .necklace-model {
  width: 40%;
  object-fit: cover;
  height: 100%;
}
