<div class="home-banner">
  <div class="p-5">
    <div class= "container">
      <h1 class="card-title">JEWELRY</h1>
      <h3 class="text-muted">RENTAL</em></h3>
      <h5>Change your life by frashing the <strong>Bling-Bling</strong> act like you own it.</h5>
    </div>
  </div>
  <%= image_tag "main-homepage.jpg", class: "necklace-model" %>
</div>
