<div class="home-banner position-relative d-flex justify-content-between">
  <div class="card pmb-5" style="background-image: url('<%= image_path("main-chain.png") %>'); width: 2rem;">
    <div class= "container p-6 mt-6">
      <h1 class="card-title">JEWELRY</h1>
      <h6 class="card-subtitle mb-2 text-muted"><em>$$$ ICEY $$$</em></h6>
      <p class="card-text">Change your life by frashing the <strong>Bling-Bling</strong> act like you own it.</p>
    </div>
  </div>
  <%= image_tag "main-homepage.jpg", class: "necklace-model" %>
</div>
