<div class="home-banner">
  <div>
    <div class="container p-5">
      <h1 class="card-title">JEWELRY</h1>
      <h2 class="text-muted"><em>FOR RENT</em></h2>
      <h5>Flash your newest <strong>bling</strong> like you own it.</h5>
    </div>
  </div>
  <%= image_tag "main-homepage.jpg", class: "necklace-model pt-4" %>
</div>
