.card-body {
background-color: black;
color: white;
}

.btn-light{
  border-radius: 4px;
}

.img-gallery-one img {
  height: 260px;
  width: 260px;
  object-fit: cover;
}

.img-gallery img {
  height: 400px;
  width: 400px;
  object-fit: cover;
}

.center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
